:root {
    --dark-blue: #548687;
    --light-blue: #E6F4F1;
    --aqua: #BEFCFD;
    --orange: #FF8847;
    --white: white;
    --app-title: "Arimo";
    --app-headers: "Fira Sans";
    --app-text: "Work Sans";
}

.custom-input-container {
    display: flex;
    flex-direction: column;
}

.first_name, 
.last_name, 
.username, 
.email, 
.password, 
.password_confirmation {
    /* margin: 40px 0px 0px 0px; */
    border: none;
    border-bottom: 2px solid var(--light-blue);
    outline: none;
    color: var(--dark-blue);
    font-size: 16px;
    transition: 0.8s;
    font-family: var(--app-text);
}

.first_name:focus, 
.last_name:focus, 
.username:focus, 
.email:focus,
.password:focus,
.password_confirmation:focus {
    border-bottom: 2px solid var(--dark-blue);
}

.custom-input-container input::placeholder {
    color: var(--dark-blue);
}