:root {
    --dark-blue: #548687;
    --light-blue: #E6F4F1;
    --aqua: #BEFCFD;
    --orange: #FF8847;
    --white: white;
    --app-title: "Arimo";
}

.custom-input-container {
    display: flex;
    flex-direction: column;
}

